<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="p-form" action="#">
        <div class="idno">
            <label for="idno">ID</label>
            <input type="number" name="idno" id="idno" required>
        </div>
        <div class="name">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required>
        </div>
        <div class="photo">
            <label for="photo">Photo</label>
            <input type="file" accept="image/*" name="photo" id="photo" required>
        </div>
        <button id="sbt" type="submit">Submit</button>
    </form>
    <script src="home.js"></script>
</body>
</html>